body{
	padding:0;
	margin:0;
}
button{
	width:80px;
	height:50px;
	font-size:18px;
	margin:15px;
	cursor: pointer;
}
.sideBar{
	width:250px;
	height:100%;
	background:black;
	position:fixed;
	top:0;
	left:-250px;
	transition-duration: : 0.4s;
}
.sideBar li a{
	color:white;
	font-size:18px;
	text-decoration: none;
	text-align:center;
	display:inline-block;
	padding:20px;
}
.appear{
	left:0;
}
.close{
	color:white;
	float:right;
	cursor: pointer;
	transition-duration: : 0.4s;
}
.move{
	left:250px;
	position: absolute;
}